*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:system-ui;
}
img{
    width:80%;
    max-width:400px;

}
body{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
}
.clock{
    margin-top:-3rem;
    box-shadow: 0 0 5px 1px rgb(122, 121, 121);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
h2{
    color: gray;
    margin-bottom:1rem;
}
input{ 
font-size: 1.7rem;
width:120px;
text-align: center;
}
button{
margin-top: 1rem;
padding:0.8rem;
width:70%;
font-size:1.5rem;
border:none;
color:white;
border-radius:10px;
background-color: rgb(8, 8, 218);
}